# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / VS Code related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Python / Pytest Exclusions
__pycache__/
.pytest_cache/
backend/logs/
backend/storage/guardian.db
backend/storage/logs.json
backend/storage/alerts.json
backend/test_files/

# Flutter / Dart Exclusions (updated for frontend/)
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
Preparing "Install 16 KB Page Size Google APIs Intel x86_64 Atom System Image API 37.0 (revision 4)".
Downloading https://dl.google.com/android/repository/sys-img/google_apis/x86_64-ps16k-37.0_r04.zip
An error occurred while preparing SDK package 16 KB Page Size Google APIs Intel x86_64 Atom System Image: dl.google.com.
"Install 16 KB Page Size Google APIs Intel x86_64 Atom System Image API 37.0 (revision 4)" failed.
Failed packages:
- 16 KB Page Size Google APIs Intel x86_64 Atom System Image (system-images;android-37.0;google_apis_ps16k;x86_64)


frontend/.pub-cache/
frontend/.pub/
frontend/build/

# Symbolication / Obfuscation related
frontend/app.*.symbols
frontend/app.*.map.json

# Android Studio build artifacts
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
